body{ background-color: rgb(45, 93, 11);
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
}
p{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    text-align: justify;
}
h1{ color: rgb(241, 241, 241);
    font-family:'Courier New', Courier, monospace
}
ul{ color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
ol{color:rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
}
.nav-enlace{
    display:inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 30px;
    
}
.nav-enlace:hover{
    background-color: #28a745;
}
nav{
    background-color: rgb(45, 93, 11);
    padding:10px;
    display: flex;
    justify-content: space-around;

}
header, section, footer {
    padding: 20px;
    color: rgb(0, 0, 0);
    }
    header {
    border: 2px solid #ccc;
    background-color: #02470b;
    }
    section {
    border: 2px solid #ccc;
    background-color: #007bff;
    background-color: #28a745;
    min-height: 200px;
    }
    footer {
    border: 2px solid #ccc;
    background-color: #007bff;
    background-color: #343a40;
    text-align: center;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
    }
    section{
        border: 2px solid #ccc;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:  1.5rem;
    }
    .s1{ background-color: #65b159;}
    .s2{background-color: #17a934}
    .s3{background-color: #326c2d;}
    .s4{background-color: #036f0a;}